@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Overpass", sans-serif;
}

body {
    background-color: hsl(216, 12%, 8%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    background-color: #1a212b;
    width: 23%;
    padding: 2.5rem;
    border-radius: 24px;
    margin-top: 12%;
}

h1 {
    color: hsl(0, 100%, 100%);
    margin: 1rem 0;
}

p {
    color: hsl(217, 12%, 63%);
    font-size: 1rem;
    line-height: 1.5rem;
}

input[type="radio"] {
    background-color: #272e38;
    width: 52px;
    height: 52px;
    -webkit-appearance: none;
    appearance: none;
    background-color: #262f38;
    border-radius: 50%;
    position: relative;
    counter-increment: radio;
    transition: 0.125s ease-in;
}

input[type="radio"]::before {
    color: hsl(217, 12%, 63%);
    font-weight: 600;
    font-size: 1rem;
    content: counter(radio);
    position: absolute;
    left: 40%;
    top: 33%;
}

input[type="radio"]:nth-child(1)::before {
    left: 43%;
}

input[type="radio"]:hover {
    background-color: #fb7413;
}

input[type="radio"]:checked {
    background-color: #ffffff;
}

.circle {
    background-color: #262f38;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
}

.circle > object {
    position: block;
    width: 30px;
    height: 30px;
}

input[type="submit"] {
    background-color: #fb7413;
    border: none;
    border-radius: 24px;
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.5rem;
    transition: 0.125s ease-in;
}

input[type="submit"]:hover {
    background-color: #ffffff;
}

.radios {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 1.5rem 0;
}

#submitted {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#submitted > h1, #submitted > span, #submitted > p {
    text-align: center;
}

span {
    background-color: #262f38;
    color: #fb7413;
    font-weight: 200;
    width: 50%;
    padding: 6px;
    border-radius: 16px;
    margin: 2rem 0;
}

.phone {
    width: 200px;
}

@media screen and (max-width: 1200px) {
    form {
        width: 35%;
    }
}

@media screen and (max-width: 1000px) {
    form {
        width: 40%;
    }
}

@media screen and (max-width: 800px) {
    form {
        width: 50%;
    }
}

@media screen and (max-width: 700px) {
    form {
        width: 70%;
    }
}

@media screen and (max-width: 500px) {
    form {
        width: 90%;
    }
}

@media screen and (max-width: 375px) {
    input[type="radio"] {
        width: 40px;
        height: 40px;
    }

    input[type="radio"]::before {
        left: 38%;
        top: 28%;
    }

    .circle {
        width: 40px;
        height: 40px;
    }
}